/* ===== SCROLL ===== */
body.actualite-body {
    overflow-y: auto;
    height: auto;
}

body.actualite-body main {
    overflow: visible;
    padding-top: 200px;
    padding-bottom: 200px;
}

/* ===== rectangle blanc ===== */
.actualite-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.actualite-hero {
    text-align: center;
    padding: 30px 40px;
    background: #ffffff;
    border-radius: 12px;
    border: 2px solid #1b57fb;
    max-width: 700px;
    margin: 0 auto 10px auto;
    box-shadow: 0 4px 20px rgba(0,0,0,0.12);
}

.actualite-hero h1 {
    font-size: 2.4rem;
    font-weight: 800;
    color: #1b57fb;
    margin-bottom: 8px;
}

.actualite-hero p {
    font-size: 1.05rem;
    color: #1b57fb;
}

/* ===== section EFREI en chiffres ===== */










/* ===== JPO card ===== */
.JPO-section {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.JPO-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    color: #1b57fb;
    margin-bottom: 20px;
}

.JPO-card {
    background: #1b57fb;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 32px rgba(0,0,0,0.15);
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition: transform 0.25s ease;
}

.JPO-card:hover {
    transform: translateY(-5px);
}

.JPO-photo {
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.JPO-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
}

.JPO-description {
    padding: 20px;
    text-align: center;
    border-top: 3px solid #1b57fb;
}

.JPO-name {
    font-size: 1.2rem;
    font-weight: 800;
    color: #1a1a1a;
    margin-bottom: 4px;
}






/* ===== FOOTER ===== */
footer {
    position: relative;
}