* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset de base */
body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}

/* Header */
header {
    margin: 0;
    padding: 0;
}

/* Image d'accueil */
header img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* Navigation */
nav {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #b4b4b4;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    display: inline-block;
}

nav a:hover {
    background-color: #4CAF50;
}
